@import "/style.css";

body {
    letter-spacing: -0.05rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    min-height: 100vh;
    max-width: 100%;
    z-index: 0;
}

.container {
    overflow: visible;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 700px;
    gap: 2rem;
}

.language {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem;
    border-radius: 0.5rem;
    text-decoration: none;
}

.language .img {
    width: 5.5rem;
    height: 3.5rem;
    margin: 2rem;
    text-align: center;
}

.language img {
    border-radius: 0.5rem;
    max-width: 100%;
    max-height: 100%;
}

.language .name {
    font-size: 1.2rem;
    font-weight: 800;
}
