@import "style.css";

html,
body {
    width: 100%;
    height: 100%;
}

nav {
    border-right: 2px solid var(--bg1);
    background-color: var(--bg);
    width: 15rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: start;
    position: fixed;
}

nav #title {
    font-size: 2rem;
    font-weight: 900;
    text-transform: uppercase;
    border-bottom: 2px solid var(--bg1);
    text-align: center;
    padding: 0.2em 1em;
}

nav #desc {
    text-align: center;
    padding: 1rem;
    color: var(--fg3);
    font-weight: 600;
}

main {
    padding: 3rem;
    margin-left: 15rem;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: start;
}

.course {
    width: 12rem;
    border-radius: 0.5rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    border: 2px solid var(--bg2);
}

.course .label {
    background-color: var(--bg2);
    font-size: 1.2rem;
    padding: 0.5em;
    text-align: center;
    font-weight: 800;
}

.course a {
    color: var(--fg);
    padding: 0.5rem;
    border-bottom: 2px solid var(--bg1);
    transition: background 0.25s;
    position: relative;
    text-decoration: none;
}

.course a .lessonTitle {
    font-weight: 800;
}

.course a::after {
    content: "";
    position: absolute;
    right: 0.5rem;
    color: var(--bg2);
}

.course a:hover {
    background-color: var(--bg1);
}

.course a:hover::after {
    color: var(--bg4);
}
