@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");

@font-face {
    font-family: "CaskaydiaCove";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/assets/fonts/caskaydiacove/CaskaydiaCoveNerdFontPropo-Regular.ttf");
}

@font-face {
    font-family: "CaskaydiaCove";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("/assets/fonts/caskaydiacove/CaskaydiaCoveNerdFontPropo-Bold.ttf");
}

:root {
    --bg-color: #fff;
    --font-color: #3c3c3c;

    --header-size: 32px;
    --font-family: "Nunito", sans-serif;
    --text-area-color: #f7f7f7;
    --text-area-border-radius: 10px;

    --bg_h: #1d2021;
    --bg: #282828;
    --bg_s: #32302f;
    --bg1: #3c3836;
    --bg2: #504945;
    --bg3: #665c54;
    --bg4: #7c6f64;

    --fg: #fbf1c7;
    --fg1: #ebdbb2;
    --fg2: #d5c4a1;
    --fg3: #bdae93;
    --fg4: #a89984;

    --red: #fb4934;
    --green: #b8bb26;
    --yellow: #fabd2f;
    --blue: #83a598;
    --purple: #d3869b;
    --aqua: #8ec07c;
    --gray: #928374;
    --orange: #fe8019;

    --red-dim: #cc2412;
    --green-dim: #98971a;
    --yellow-dim: #d79921;
    --blue-dim: #458588;
    --purple-dim: #b16286;
    --aqua-dim: #689d6a;
    --gray-dim: #a89984;
    --orange-dim: #d65d0e;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}

html {
    font-size: 17px;
    background-color: var(--bg);
    color: var(--fg);
}

.button {
    background-color: var(--bg);
    border: 2px solid var(--bg1);
    border-bottom-width: 4px;
    color: var(--fg);
    text-decoration: none;
    border-radius: 1rem;
    padding: 12px 18px;
}

.button:hover {
    margin-top: -2px;
    background-color: var(--bg1);
    border: 2px solid var(--bg2);
    border-bottom-width: 6px;
}

.border {
    border: 2px solid var(--bg1);
}

.icon {
    font-family: "CaskaydiaCove";
}
