@import "/style.css";

body {
    letter-spacing: -0.05rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    min-height: 100vh;
    max-width: 100%;
    z-index: 0;
}

#container {
    overflow: visible;
    width: 600px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#title {
    font-size: 2rem;
    font-weight: 800;
}

#prompt {
    display: flex;
    align-items: center;
    padding-left: 10px;
}

#prompt img {
    align-self: flex-end;
    flex-shrink: 0;
    max-width: 114px;
    width: 30%;
}

#translation {
    margin: 1.5rem 2rem;
    font-family: var(--font-family);
    font-weight: 500;
    padding: 12px 18px;
    border-radius: 1rem;
}

textarea {
    font-family: var(--font-family);
    font-weight: 600;
    width: 100%;
    height: 100%;
    resize: none;
    background-color: var(--bg1);
    border: 2px solid var(--bg2);
    border-radius: 1rem;
    color: var(--fg);
    padding: 10px 12px;
    margin-bottom: 0.2rem;
    line-height: 24px;
    font-size: 100%;
    height: 200px;
}

textarea:focus {
    outline: none;
}

::placeholder {
    font-family: var(--font-family);
    font-weight: 600;
}

.bottom-div {
    bottom: 0;
}

.check-div {
    grid-gap: 8px 16px;
    align-items: center;
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: 100%;
    justify-items: stretch;
    bottom: 0;
}

#check-button {
    width: 10rem;
    padding: 1rem;
    border-radius: 1rem;
    border: none;
    border-bottom: 4px solid #58a700;
    background-color: #58cc02;
    font: 500 17px/25px var(--font-family);
    font-size: 17;
    font-weight: 900;
    letter-spacing: 0.8px;
    line-height: 1;
    text-decoration: none;
    user-select: none;
    white-space: nowrap;
    color: var(--bg1);
}

#check-button:disabled {
    border: none;
    background-color: var(--bg3);
    margin-top: 4px;
    color: var(--bg4);
}

#choices {
    display: grid;
    grid-auto-flow: row;
    grid-gap: 1rem;
    grid-template-columns: auto auto;
    margin-top: 1rem;
}

.choice {
    display: block;
    width: 100%;
}

.choice.selected {
    background-color: var(--blue-dim);
    border: 2px solid var(--blue);
    margin-top: 2px;
}

.choice.selected:hover {
    margin-top: 2px;
}

.choice:disabled {
    margin-top: 2px;
    background-color: var(--bg_h);
    border: 2px solid var(--blue-dim);
    color: var(--bg4);
}

.column-container {
    display: flex;
    flex-wrap: wrap;
}

.img-container {
    display: flex;
}

.image-container {
    margin-right: 0.5rem;
}

.column {
    width: 50%;
    padding-right: 0.5rem;
}

.choice-image {
    display: block;
    margin-bottom: 0.5rem;
    width: 10rem;
    padding: 0.5rem;
    border-radius: 2rem;
}
